@page
@model IndexModel

<div class="row">
  <div class="col-md-6">
    <h1 class="text-primary">RecruitCat Girgastj </h1>
    <p>4056 West 229th Street, Cleveland, OH</p>
    <p>Phone: (216) 509 0663</p>
  </div>
  <div class="col-md-6">
    <img src="/images/paper.jpg" class="img-fluid" alt="Paper" width="200">
    <img src="/images/recruting.jpg" class="img-fluid" alt="paper" width="200">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h3>Services Offered</h3>
    <ul class="list-group">
      <li class="list-group-item">Recruiting</li>
      <li class="list-group-item">Talent locating</li>
      <li class="list-group-item">Staffing</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Industries</h3>
    <ul class="list-group">
      <li class="list-group-item">Space Exploration</li>
      <li class="list-group-item">Conent Creators</li>
      <li class="list-group-item">Professional Sports</li>
    </ul>
  </div>
 
 <div class="col-md-4">
  <h3>Testimonials</h3>
  <div class="alert alert-success">
    “RecruitCat helped me land my dream job in space exploration right out of college!”
  </div>
  <div class="alert alert-info">
    “The staffers at RecruitCat really care about your career and you”
  </div>
  <div class="alert alert-warning">
    “Our business was able to staff the entire basketball team thanks to RecruitCat”
  </div>
  </div>
</div>

<hr>
<div>
    <h3> How to Apply on RecruitCat</h3>
<p>
Using RecruitCat is very simple! Anyone could use recruitcat for there career and business needs! All you have to do is create a profile and upload your resume and an agent will reach out to you!
</p>

<h3>Why Choose RecruitCat?</h3>
<ul>
  <li>Personalized job matching based on your skills and goals</li>
  <li>Strong connections with top companies across industries</li>
  <li>Fast application process — results within days, not weeks</li>
</ul>

</div>