@page

<h1>Meet Our Team</h1>

<div class="row text-center">
<div class="col-md-4">
<div class="card">
<img src="/images/IMG_3486 2.JPG" class="card-img-top img-fluid" alt="Thomas Girgash" width="200">
<div class="card-body">
<h5 class="card-title">Thomas Girgash III</h5>
<p class="card-text">
    Founder. Graduate student in Information Systems, passionate about technology, business, and innovation. Interested in Fintech, DeFi, and AI. Looking to help people find the careers that they are passionate it about and loves working in different industries. 
</p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card">
<img src="/images/jose.jpg" class="card-img-top img-fluid" alt="Jose Ramirez">
<div class="card-body">
<h5 class="card-title">Jose Ramirez</h5>
<p class="card-text">
    Senior Recruiter. Brings leadership and dedication from his career with the Cleveland Guardians. Focuses on Professional Sports recruiting but is passionate to learn more about other industries and is looking forward to gaining experience in the content creator field as well as the space exploration.
</p>
</div>
</div>
</div>


<div class="col-md-4">
<div class="card">
<img src="/images/rocchio.jpg" class="card-img-top img-fluid" alt="Brayan Rocchio">
<div class="card-body">
<h5 class="card-title">Brayan Rocchio</h5>
     <p class="card-text">
Technical Recruiter. Known for is quick insticts as a professional shortstop, Brayan is using that talent to match ready to work professionals in industries looking for high qualtiy candidates. He is the newest addition to the team and is already make a huge impact. 
</p>
</div>
</div>
</div>
</div>

